form {
    font-family: sans-serif;
}

input:not([type="radio"]),
textarea,
label,
select {
    display: block;
}

label,
input[type="submit"] {
    margin-top: 20px;
    font-style: italic;
}

input,
textarea,
select {
    min-width: 200px;
}

.invalid {
    border: 1px solid red;
}
