.boton {
    background-color: purple;
    color: white;
    padding: 10px 30px;
    display: block;
    border-radius: 0 0 10px 0;
    margin-bottom: 30px;
    box-shadow: 0 5px 1px goldenrod;
    font-family: sans-serif;
    text-align: center;
}